:root {
  --text-white: #fafafa;
}

html {
  background-color: #303030;
  color: var(--text-white);
  font-family: Roboto;
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  margin: 0;
}

a {
  color: var(--text-white);
  text-decoration: none;
}

footer {
  margin-top: auto;
  padding: 4px;
  font-size: 0.5em;
  margin-bottom: 0.3em;
}
