:root {
  --text-white: #fafafa;
  --background-black: #202020;
}

html {
  background-color: #202020;
  color: var(--text-white);
  font-family: Roboto;
  height: 100%;
  width: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
}

a {
  color: var(--text-white);
  text-decoration: none;
}
