:root {
  --text-white: #fafafa;
}

html {
  background-color: #202020;
  color: var(--text-white);
  font-family: Roboto;
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  margin: 0;
}

a {
  color: var(--text-white);
  text-decoration: none;
}
